      <div class="admin_rules">
        <a class="admin_apps_part" href="/admin_teachers">Ustozlar</a>
        <a class="admin_apps_part" href="/admin_system">Maktab tizimi</a>
        <a class="admin_apps_part" href="/admin_pupils">O'quvchilar</a>

      </div>
      
      <h1 class="as_h1">Arizalar bo'limi</h1>



