

<div class="admin_rules">
    <a class="admin_suggestions" href="/admin_suggestions">Takliflar</a>
    <a class="admin_aplication" href="/admin_aplication">Arizalar</a>
    <a class="admin_publish" href="/admin_publish">Chop etish</a>
    
</div>

