        
        <h2 class="takliflar_h2">Arizalar bo'limi</h2>

        <form action="/form_application" method="post">

                <div class="takliflar ">
                    <input name="name" class="input_1" type="text" placeholder="Ustozni tanlang">
                    <div class="inpts">
                        <input name="title" class="input_2" type="text" placeholder="Sarlavha">
                        <input name="date" class="input_3" type="date">
                    </div>
                    <textarea name="message" class="textare_1" name="" id="" cols="30" rows="10" placeholder="Yozing.."></textarea>
                    <button type="submit" class="button_1">Yuborish</button>
                </div>

        </form>