        <form action="/form_suggest" method="post">
            
        <h2 class="takliflar_h">Takliflar bo'limi</h2>
        <div class="takliflar">
            <div class="inpts">
                <input name="grade" class="input_2" type="text" placeholder="Sinfingizni kiriting.">
                <input name="title" class="input_2" type="text" placeholder="Sarlavha">
                <input name="date" class="input_3" type="date">
            </div>
           
            <input name="name" class="textare_1" type="text" placeholder="F.I.SH">
            <textarea class="textare_1" name="message" cols="30" rows="10" placeholder="Yozing.."></textarea>
            <button type="submit" class="button_1">Yuborish</button>
        </div>

        </form>